<%- include partials/header -%>

<body>
   <div style="padding-top: 20px;">
        <h2>About me</h2>
        <a class="AnkitKodanpic" href="#">
        <img src="/images/pic1.png" width="300" alt="AnkitKodan">
        </a>
        <table>
            <tr> 
                <td>Name: </td>
                <td>Ankit Kodan</td>
            </tr>
            <tr> 
                <td>About me: </td>
                <td>
                    My name is Ankit Kodan. I'm a Software Engineering Technician (Fast-Track) student at Centennial College, Toronto, Canada. I was born and raised in Chandigarh, India. <br>
                    I did my B.E graduation from Chandigarh University, India in the field of Computer Science.  <br>
                    I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.
                </td>
            </tr>
            <tr> 
                <td>Resume: </td>
                <td><a href="/docs/resume.pdf">Click Here</a></td>
            </tr>
        </table>
    </div>
</body>


