<%- include partials/header -%>

<body>
    <div>
    <div style="padding-top: 20px;">
        <h2>Projects</h2>
        <table>
            <tr>
                <td><img src="/images/pr1.png" height="100px"></td>
                <td>
                    <strong>THE TEENS CLUB </strong><br>
                    It is a social website created for the problems faced by the teenagers.
                    Teenagers who are facing problem regarding anything and are not
                    able to share it with their family or friends. So they can post their
                    problem on the website anonymously and the solutions of the
                    problems are given within 24-hours.
                    <br>
                    Technologies Used: HTML, CSS, Javascript, WordPress
                    <br>
                    Role: Design
                </td>
            </tr>
            <tr>
                <td><img src="/images/pr2.jpg" height="100px"></td>
                <td>
                    <strong>WIKIPEDIA AI</strong><br>
                    It is a talk to speech basics AI. You can talk to the machine and by saying
                    anything which includes the Wikipedia e.g; “Python on Wikipedia”. It
                    willsearch on Wikipedia and will give you the summary offirst 10 lines.
                    <br>
                    Technologies Used: Python
                    <br>
                    Role: Implentation
                </td>
            </tr>
            <tr>
                <td><img src="/images/pr3.jpg" height="100px"></td>
                <td>
                    <strong>CRIME FILE MANAGEMENT SYSTEM</strong><br>
                    This project has been developed to help the all crime department for storing and verify the all the crime file
                    records with effective way and without any mistake. This online Crime File Management portal applies to force all
                    across the state and specifically looks into the subject crime and violation prevention, detection, conviction of criminals
                    depending on a highly responsive backbone of Information Management.
                    <br>
                    Technologies Used: HTML, CSS
                    <br>
                    Role: Design, Documentation, Implentation
                </td>
            </tr>
        </table>
    </div>
</body>
